body {
  overflow-x: hidden;
}

.icon {
  color: #cecece;
  height: 1.2rem;
  cursor: pointer;
  &-edit{
    @extend .icon;
    position: fixed;
    top: 1rem;
    right: 1rem;
    margin: 1rem
  }
}

.red {
  color: #e41f24;
}

.animated {
  animation: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}

form {
  margin: 0 auto;
  width: 50%;
}

.cards {
  display: flex;
  justify-content: center;
  width: 100%;
  @media (min-width: 980px) and (max-width: 1200px){
    width: 50%;
  }
  @media (min-width: 1200px){
    width: 25%;
  }
  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.cl-rootBox {
  margin: 1rem auto;
}

.border {
  border: 2px solid white;
}

.noBorder {
  border: 0px solid white;
}

.avatar {
  padding: 0;
  margin: 0;
  border-radius: 25px;
}

.main {
  margin-bottom: 4rem;
}

.motion-list {
  list-style: none;
}

ul {
  padding: 0;
}

.background {
  top: 0;
  left: 0;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  background: blue;
}

.btn-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
  border-radius: 5px;
  color: white;
  padding: 0.25rem 0;
  font-weight: bold;
}

.dot {
  background: gray;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  margin: .25rem;
}

.unstyled-form{
  margin: 0;
  padding: 0;
  display: unset;
}

