.icon{
  color: #CECECE;
  height: 1.2rem;
}

.red{
  color: #E41F24;
}

.animated{
  animation: color .4s ease-in;
  transition: color .4s ease-in;
}

form{
  margin: 0 auto;
  width: 50%;
}

.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cl-rootBox{
  margin: 1rem auto;
}

.border{
  border: 2px solid white;
}

.noBorder{
  border: 0px solid white;
}

.avatar{
  border-radius: 25px;
}

.main {
  margin-bottom: 4rem;
}

.motion-list{
    list-style: none;
}

ul{
    padding: 0;
}
