$prussian-blue: #003049;
$fire-engine-red: #d62828;
$orange-wheel: #f77f00;
$xanthous: #fcbf49;
$vanilla: #eae2b7;
$card-bg: #344e41;

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.icon {
  color: #cecece;
  height: 1.2rem;
  cursor: pointer;
  &-floating {
    cursor: pointer;
    display: inline;
    font-size: 0.5rem;
  }
  &-hot {
    @extend .icon;
    height: 1rem;
    padding-right: 0.2rem;
  }
  &-edit {
    @extend .icon;
    display: flex;
    position: absolute;
    top: .25rem;
    right: .25rem;
    margin: 0.5rem;
    height: max-content;
  }
}

.red {
  color: #e41f24;
}

.animated {
  animation: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}

form {
  margin: 0 auto;
  width: 50%;
  height: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  width: 100%;
  @media (min-width: 980px) and (max-width: 1200px) {
    width: 50%;
  }
  @media (min-width: 1200px) {
    width: 25%;
  }
  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.cl-rootBox {
  margin: 1rem auto;
}

.border {
  border: 2px solid white;
}

.noBorder {
  border: 0px solid white;
}

.avatar {
  padding: 0;
  margin: 0;
  border-radius: 25px;
}

.main {
  margin-bottom: 4rem;
}

.motion-list {
  list-style: none;
}

ul {
  padding: 0;
}

.background {
  top: 0;
  left: 0;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  background: blue;
}

.btn-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
  border-radius: 5px;
  color: white;
  padding: 0.25rem 0;
  font-weight: bold;
}

.dot {
  background: gray;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  margin: 0.25rem;
}

.unstyled-form {
  margin: 0;
  padding: 0;
  display: unset;
}

.title-wrapper {
  position: relative;
}

.creation-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mantine-InputWrapper-root {
    width: 80%;
  }

  .mantine-UnstyledButton-root {
    margin-top: 1rem;
  }
}

.mantine-Button-root {
  color: white;
}

.mantine-Input-input {
  background: $prussian-blue;
}

.mantine-Input-input::placeholder,
.mantine-FileInput-placeholder {
  color: gray;
}

.mantine-Card-root {
  color: white;
}

.card-closed {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: space-between;
}

.card-open {
  top: 1rem;
  z-index: 100;
}
